<h1>Nom:<%= @beer.name %></h1>

<h3>Id:<%= @beer.id %></h3>
<h3>Price:<%= @beer.price %></h3>
<h3>Description:<%= @beer.desc %></h3>
<h3>Brasserie:<%= @brewery.name %></h3>
<h3>Style:<%= @style.name %></h3>

<h1>Cette biere a une note de <%= @beer.rating %></h1>

<%= link_to "Editer un biere", edit_beer_path(@beer) %>
<%= link_to "Supprimer #{@beer.name}", beer_path(@beer), method: :delete %>
