<h1><%= @edit  + @brewery.name%></h1>

<%= simple_form_for @brewery do |b| %>
    <%= b.input :name %>
    <%= b.input :country, as: :text  %>
    <%= b.input :address %>
    <%= b.submit %>
  <% end %>