<h1>Nom: <%= @brewery.name %></h1>
<h3>id:<%= @brewery.id %></h3>
<h3>Pays:<%= @brewery.country %></h3>
<h3>Pays:<%= @brewery.address %></h3>

<%= link_to "Supprimer #{@brewery.name}", brewery_path(@brewery), method: :delete %>

<% if (policy(@brewery).edit?) %>
    <%= link_to "Update #{@brewery.name}", edit_brewery_path(@brewery) %>
<% end %>
