<h1>Homepage</h1>
<h4>test</h4>
<%= link_to 'New beer', new_beer_path %>
<%= link_to 'New Brewery', new_brewery_path %>
<%= link_to 'New Style', new_style_path %>
<%= link_to 'Beers', beers_path %>
<%= link_to 'Breweries', breweries_path %>
<%= link_to 'Styles', styles_path %>
